@{
    string isConnected = Session["Adherent"] != null ? "true" : "false";
    Assortie.Models.Adherent adherent = (Assortie.Models.Adherent)Session["Adherent"];
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        @*<img src="~/images/logo_white.png" width="30" height="30" alt="logo">*@
        @Html.ActionLink("Assortie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Accueil", "Index", "Home", null, new { @class = "nav-link" })
            </li>
        </ul>
        <div class="right-side d-flex">
            @*<div class="navbar-text"></div>*@
            <div class="navbar-nav">

                @Html.ActionLink("Connexion", "Connexion", "Adherents", null, new { @class = "btn btn-sm btn-info" })

            </div>
        </div>
    </div>
</nav>