@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron text-center">
        <img src="~/images/logo_simple.png" width="100" height="100" alt="logo">
        <h1>Assortie</h1>
        <p class="lead">Bienvenue sur Assortie, votre plateforme de gestion des sorties d'associations</p>
    </div>